//- SVG icon
mixin icon(name)
	svg(class="icon icon--" + name)
		use(xlink:href="img/svg-sprite.svg#" + name)


//- input
mixin input(type, name, dataName, placeholder, required)
	.input-wrap
		input(type=type, name=name, data-name=dataName, placeholder=placeholder, required=required)


//- textarea
mixin textarea(name, dataName, placeholder, required)
	.input-wrap
		textarea(name=name, data-name=dataName, cols="30" rows="5" placeholder=placeholder, required=required)


//- Breadcrumb
mixin breadcrumbs(itemsArr)
	.b-breadcrumbs
		.container
			.row
				ul._list
					li._item
						a(href="/")._link
							+icon('house')
					each item, index in itemsArr
						if itemsArr.length === index + 1
							li._item
								span= item.title
						else
							li._item
								a(href=item.path)._link= item.title


//- news-card
mixin news-card(img, date, title, mod)
	a.b-news-card(href="news-single.html" class="news-card--" + mod)
		._img-wrap
			img(src=img alt="")
		._content
			._published-on= date
			._title= title
			._more-link.lined-link Читать подробнее