//- SVG icon
mixin icon(name)
	svg(class="icon icon--" + name)
		use(xlink:href="img/svg-sprite.svg#" + name)


//- input
mixin input(type, name, dataName, placeholder, required)
	.input-wrap
		input(type=type, name=name, data-name=dataName, placeholder=placeholder, required=required)


//- textarea
mixin textarea(name, dataName, placeholder, required)
	.input-wrap
		textarea(name=name, data-name=dataName, cols="30" rows="5" placeholder=placeholder, required=required)


//- Breadcrumb
mixin breadcrumbs(itemsArr)
	.b-breadcrumbs
		.container
			.row
				ul._list
					li._item
						a(href="/")._link
							+icon('house')
					each item, index in itemsArr
						if itemsArr.length === index + 1
							li._item
								span= item.title
						else
							li._item
								a(href=item.path)._link= item.title


//- news-card
mixin news-card(img, date, title, mod)
	a.b-news-card(href="news-single.html" class="news-card--" + mod)
		._img-wrap
			img(src=img alt="")
		._content
			._published-on= date
			._title= title
			._more-link.lined-link Читать подробнее


//- Pagination
mixin pagination(length)
	- var n = 1;
	.b-pagination
		ul._list
			if length > 7
				li._item.-disabled
					span._link
						+icon('angle-left')
				li._item
					a(href="/")._link 1
				li._item
					a(href="/")._link 2
				li._item
					a(href="/")._link 3
				li._item.-seperator
					span._link ...
				li._item
					a(href="/")._link 8
				li._item
					a(href="/")._link 9
				li._item
					a(href="/")._link 10
				li._item
					a(href="/")._link
						+icon('angle-right')

			else
				li._item
					a(href="/")._link.-disabled
						+icon('angle-left')
				while n <= length
					li._item
						a(href="/")._link= n++
				li._item
					a(href="/")._link
						+icon('angle-right')
mixin birth-date-input
	.b-input.-birth-date
		._text Дата рождения
		._input-wrap
			input(type='text' name='birthDate' placeholder='01.01.1985' data-toggle='datepicker' autocomplete='off')
			._icon-wrap
				+icon('calendar')